<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 APP</title>
    <link rel="stylesheet" href="/css/styles.css">

    <meta name="description" content="CSE Motors, a website for checking out the cars we have to offer, CSE 340, Joel Ayvazyan, Web Frontend Development">
    <meta name="author" content="Joel Ayvazyan">

    <meta name="og:title" content="CSE Motors - CSE 340 Joel Ayvazyan">
    <meta name="og:type" content="cse motors">
    <meta name="og:image" content="/images/site/favicon-32x32.png">
    <meta name="og:url" content="#">

    <meta name="twitter:title" content="CSE Motors - CSE 340 Joel Ayvazyan">
    <meta name="twitter:type" content="cse motors">
    <meta name="twitter:image" content="/images/site/favicon-32x32.png">
    <meta name="twitter:url" content="#">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/larger.css">
    <link rel="icon" href="/images/site/favicon-32x32.png">
</head>