<!-- Content Heading -->

<% if (title) { %>
    <h1 style="grid-column: 1 / 3;"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- A Message -->
    
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
    <!-- Add classification -->
    
    <form action="/inv/add-classification" method="post">
        <label for="classificationName">Classification Name</label>
        <span>NAME MUST BE ALPABETIC CHARACTERS ONLY.</span>
        <input type="text" name="classification_name" id="classificationName" required value="<%= locals.classification_name %>" pattern="([A-Za-z]+)">
        <input type="submit" value="Add Classification">
    </form>